@model IEnumerable<Bloginary.Models.Blog>
@{
    ViewData["Title"] = "Blog Page";
}

<div class="text-center">
    <h1 class="display-4">Blogs</h1>
</div>

<div class="row pt-4">
    <div class="col-12 text-end">
        <a asp-action="create" class="btn btn-primary">
            <i class="bi bi-plus-square"></i>&nbsp;  Create New Blogs
        </a>
    </div>
</div>

<div class = "container">
    <div class = "row">
        @foreach (var item in Model)
        {
         <div class="col">
            <div class="card" style="width: 18rem;">
                <img src=@item.Image class="card-img-top" alt="...">
                  <div class="card-body">
                     <h5 class="card-title">@item.Title</h5>
                     <p class="card-text">@item.Description</p>
                     <p class="card-text">@item.PublicationDate</p>
                         <p class="card-text">@item.EditedDate</p>
                         <p class="card-text">@item.Category</p>
                         <p class="card-text">@item.Tag</p>
                     <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-primary">Read More</a>
                  </div>
            </div>
         </div>
        }
    </div>
</div>